/* Global Styles */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

/* Layout Containers */
main, 
.banner-inner, 
.header-inner, 
.footer-inner {
    max-width: 1000px;
    margin: 0 auto;    
}

#banner {
    background: rgba(25,25,25,1);
    color: white;
    padding: 15px 0;
}

#banner .banner-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#banner span a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

header, footer {
    background: rgba(50,50,50,1);
    color: white;
    padding: 30px 0;
    text-align: center;
}

main {
    padding: 0 0 50px 0;
}

/* Tab Container Styles */
.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-size: 1rem;
}

.tab-button.active {
    background-color: #333;
    color: #fff;
}

/* Tab Content Styles */
.tab-content {
    display: none;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.tab-content.active {
    display: block;
}

#about-tab,
#results-tab,
#swingstates-tab,
#code-tab {
    margin: 20px auto;
    max-width: 1000px;
    line-height: 1.6;
    padding: 20px;
    width: 100%;
}

/* Heading Styles for README */
#readme h1, #readme h2, #readme h3,
#about-tab h1, #about-tab h2, #about-tab h3,
#results-tab h1, #results-tab h2, #results-tab h3,
#swingstates-tab h1, #swingstates-tab h2, #swingstates-tab h3,
#code-tab h1, #code-tab h2, #code-tab h3 {
    color: #333;
}

#readme h1, #about-tab h1, #results-tab h1, #swingstates-tab h1, #code-tab h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

#readme h2, #about-tab h2, #results-tab h2, #swingstates-tab h2, #code-tab h2 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

#readme h3, #about-tab h3, #results-tab h3, #swingstates-tab h3, #code-tab h3 {
    font-size: 1.2em;
    margin-top: 15px;
}

#readme {
    background: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 30px;
    margin-top: 20px;
}

/* Text and Link Styling for Tab Content */
.tab-content p {
    color: #555;
    margin-bottom: 10px;
}

.tab-content a {
    color: #007acc;
    text-decoration: none;
}

.tab-content a:hover {
    text-decoration: underline;
}

/* List Styles in Tab Content */
.tab-content ul, .tab-content ol {
    margin-left: 20px;
    margin-bottom: 15px;
}

.tab-content ul li, .tab-content ol li {
    margin-bottom: 5px;
}

/* Code Block and Inline Code Styling */
/* pre {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow-x: auto;
    margin-bottom: 20px;
} */

code {
    font-family: 'Courier New', Courier, monospace;
    padding: 2px 4px;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* Additional Spacing for Readability */
.tab-content ul, .tab-content ol, .tab-content p {
    margin-top: 10px;
}

/* Table Styling */
table {
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table thead tr th.democrat-heading {
    background: #244999;
    color: white;
    font-weight: bold;
}

table tbody tr.dem-win td.dem-win {
    background: #b9cfff;
    font-weight: bold;
}

table thead tr th.republican-heading {
    background: #d22532;
    color: white;
    font-weight: bold;
}

table tbody tr.rep-win td.rep-win {
    background: #f9aeb7;
    font-weight: bold;
}

table tbody tr.dem-rep-tie td.dem-rep-tie {
    background: #feef97;
    font-weight: bold;
}

table thead tr th.tie-heading {
    background: #c8c8c8;
    color: black;
    font-weight: bold;
}

table tbody tr.tie-win td.tie-win {
    background: #feef97;
    font-weight: bold;
}

table thead tr th,
table tbody tr td {
    padding: 10px;
    margin: 0;
}

table thead tr th.none {
    background: rgba(200,200,200);
}

table thead tr th.left,
table tbody tr td.left {
    text-align: left;
}

table thead tr th.center,
table tbody tr td.center {
    text-align: center;
}

table th#col-date {
    width: 325px;
    background-color: #c8c8c8;
}

table th#col-simulations {
    width: 100px;
    background-color: #c8c8c8;
}

table th#col-dem-wins,
table th#col-dem-percent,
table th#col-rep-wins,
table th#col-rep-percent,
table th#col-tie-totals,
table th#col-tie-percent {
    width: 110px;
}

p.tab-description {
    font-size: 1.25rem;
    margin-bottom: 40px;
}

#code-tab {
    position: relative;
}

/* Code Block Container */
.code-block {
    background: #222;
    color: #fff;
    position: relative;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

/* Code Block Header */
.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 1rem;
    color: #222;
}

/* Language Title in Header */
.code-language {
    font-size: 1rem;
    color: #222;
}

/* Copy Button in Header */
.copy-button {
    padding: 5px 10px;
    font-size: 0.8rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.copy-button:hover {
    background-color: #555;
}

/* Styling the Code Content */
pre {
    border: none;
    margin: 0px;
    padding: 15px;
    font-size: 1rem;
    overflow-x: auto;
}

/* Styling for README code blocks */

#readme .code-block {
    background: #f4f4f4;
    color: #444;
    margin: 30px 0;
}

#readme pre {
    color: #000;
}

/* Code Block Header */
#readme .code-header {
    background-color: #444;
    color: #f4f4f4;
}

/* Language Title in Header */
#readme .code-language {
    color: #f4f4f4;
}

/* Copy Button in Header */
#readme .copy-button {
    background-color: #f4f4f4;
    color: #444;
}

#readme .copy-button:hover {
    background-color: #ccc;
}

#readme p code,
#readme strong code,
#readme ul code,
#code-tab p.tab-description code {
    background: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: normal;
}

/* Output Example Code */

#readme pre.output-example {
    background: #f4f4f4;
    color: #444;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    padding: 15px;
    margin: 20px 0;
}


#swingstates-tab #state-graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#swingstates-tab #state-graphs .chart {
    width: 50%;
}

#swingstates-tab #state-graphs .chart img {
    width: 100%;
}

#results-tab #national-graph .chart {
    width: 50%;
    margin: 0 auto;
}

#results-tab #national-graph .chart img {
    width: 100%;
}